*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Racing Sans One';
    color: white;
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}
nav{
    flex-wrap: wrap;
    height: 5vh;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px;
}
.navs{
    font-size: 24px;
    list-style-type: none;
    display: flex;
}
.navs a{
    color: yellow;
    margin-inline: 20px;
}

.logo{ font-size: 36px; }
.logo:hover{ color: #0085FF; }
.logo span{ color: yellow; }

.hamburger{ display: none; }
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffc107;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
.container{
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Racing Sans One';
    font-size: 42px;
}
.container a{
    background-color: #0085FF;
    padding: 5px 30px;
    margin: 40px 0;
}



@media screen and (max-width: 768px) {
    .navs{ display: none; }
    .navs a{ margin: 0; }
    .navs.show {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .hamburger{display: block;}
    .container{
        font-size: 28px;
    }
    .container a{
        font-size: 20px;
    }
}