*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Racing Sans One';
    color: white;
}
body{
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}
.container-fluid{ background-color: black; }

.logo{ font-size: 36px; }
.logo span{
    color: #ffc107;
}
nav{ height: 10vh; z-index: 12; background-color: black;}
.navs{
    font-size: 28px;
    margin: 0 5px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffc107;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

.title-container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.discover {
    font-size: 28px;
    background-color: #0085FF;
    padding: 5px 30px;
}

.title{
    font-size: 62px;
    margin: 30px 0;
}